<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8" />
    <title>综合练习_首页</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="app/app.js"></script>
</head>
<body>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>
                    别无所求
                </h2>
                <p>
                    四川大学97级本科毕业，保送到清华大学计算机系直博。期间曾在清华大学计算机系软件工程专业就读，主要进行集成电路布线算法的研究。在此期间，他因《完全用GNU/Linux工作》一文和对TeX的推广等“非研究成果的业余东西”而出名。 在只剩一年就要博士毕业的时候，他申请退学，并将1万7千余字的“退学申请书”（题为清华梦的粉碎）公布在网上，引起舆论界一时对教育体制、理想主义等的热议。
                    1997年，考入四川大学计算机系97级。
                    2001年，保送清华大学计算机系软件所硕博连读，主要进行集成电路布线算法的研究。
                    2003年发表《完全用Linux 工作》、《写给支持和反对<完全用Linux工作>的人们》，痛陈windows弊端、宣扬linux。
                    2004年8月，发表网络文摘《完全用linux工作》、《写给支持和反对<完全用Linux工作>的人们》，痛陈windows弊端、宣扬linux，文章在中国的计算机和linux阵营引起极大轰动效应，成为水木清华linuxapp版和中国多个linux社区的偶像级人物。
                        2005年，发表学术论文“The polygonal contraction heuristic for rectilinear Steiner tree construction”[1]  。
                        2005年9月22日在水木社区BLOG上发表了《清华梦的粉碎--写给清华大学的退学申请》明确要求退学，痛斥国内高等教育弊端。
                        2006年8月，从清华退学后考GRE出国到了康奈尔大学计算机系，康奈尔大学计算机系全美排名第六名[2]  。
                        2008年发表《Cornell 感受》并从康奈尔大学退学，到印第安纳大学伯明顿分校（IUB）计算机继续攻读博士学位，印第安纳大学伯明顿分校（IUB）计算机专业排名全美50名之外[2]  。
                        2012年，以一篇文章《对博士学位说永别》再次退学，至此王垠分别于2005年、2006年、2008年分别从清华大学、康奈尔大学和印第安纳大学伯明顿分校退学。他认为他的“博士生涯”已经帮助他找到了比博士学位更重要的东西 。
                        2012年结束在Google的实习后发表《王垠：我和Google的故事》。
                        2012年冬季，加入Coverity，职业软件工程师。
                        2013年03月发表《谈“P=NP?”》[3]  ，并表示“这个问题其实是不存在的，它根本不需要解决。”[3]  。
                        2013年11月发表（《面向对象编程和函数式编程的问题出在哪里》），痛斥对象编程和函数编程弊端。2014年02月发表《程序员的心理疾病》，认为程序员群体存在心理疾患
                </p>
            </div>
        </div>
    </div>

</body>
</html>